
.links{
    margin-top: 5em;
    text-align: center;
    text-decoration: none;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 700;
    text-emphasis: center;
    color: black;
  }
  
  .intro-links{
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    text-decoration: none;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 700;
    text-emphasis: center;
    color: black;
  }

  h2{
    font-family: 'Gloock', serif;
   
    text-align: center;
    font-size: 64px;
    color:#ff7878
  }
  
  .grid-container{
    display:grid;
    grid-template-columns: 1fr;
   
  }

  .chineseHomepage{
  position:absolute;
    top: 30%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
   
    margin-bottom: 2em;
  }

  .food-link{
    font-size: 24px;
    text-decoration: none;
    font-family: 'Lemon', cursive;
    color:#ff7878
    }

.quoteBox{
    background-color:#ff7878;
    height: 50%;
    width: 100%;
    padding: 1em;
    position:absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.quoteText{
 text-align: center;
 font-family: insert;
 font-size: 32px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);

}

p{
    font-family: 'Ubuntu Mono', monospace;
  
    font-style: normal;
    font-size: 25px;
  }